.Card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px;
    padding: 30px;
}

.ant-card .ant-card-cover img {
    border-radius: 8px 20px 0 0;

}

@media only screen and (max-width:480px) {

    .MyHeader {
        width: 80%;
    }

    .ShowProducts {
        width: 100%;
        font-size: medium;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


    .ant-space-item {
        border-radius: 5px;
    }

}

@media only screen and (max-width:768px){

    .ShowProducts {
        width: 60%;
        font-size: medium;
        justify-content: space-evenly;
    }
}


